@using FinalExercise.Data
@model Course

<h2>@Model.Name</h2>
<ul>
    @foreach (var enrollment in Model.Enrollments)
    {
        <li><a asp-controller="Question" asp-action="updateenrollment" 
            asp-route-id="@enrollment.EnrollmentId">@enrollment.Student.FullName</a></li>
    }
</ul>