@{
    ViewData["Title"] = "Checkout Complete";
}

<h1>Checkout Complete</h1>

<h4>Confirmation</h4>
<hr />
<p>Thank you for your order with number: @Model</p>
<p>Shop more on <a asp-action="Index" asp-controller="Home">Music Store</a></p>
<hr />